html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background: #FFf;
}
@font-face {
   font-family: 'Merienda-Regular';
   src: url(../fonts/Merienda-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url(../fonts/Raleway-Regular.ttf)format('truetype');
}
.header .container{
	line-height: 33px;
}
p{
	margin:0;
	font-family:'Raleway-Regular';
}
.header{
	padding: 1.5em 0 1.2em;
	background-color: #293364; 
}
@media (min-width: 768px){
	.header .navbar{
		margin-bottom: 0px;
	}
}
.header .navbar-header .navbar-brand h1{
	font-size: 2.5em;
	margin:0;
    font-family: 'Merienda-Regular';
    color:white;
    position: relative;
    top:-20px;
}
.header .navbar-default{
	background: #293364;
	border:none;
}
.header .navbar-default .navbar-toggle{
	border:2px solid #FC8BAD;
}
.header .navbar-default .navbar-toggle .icon-bar{
	background-color:#FC8BAD; 
}
.header .navbar-toggle .icon-bar{
	width: 16px;
}
.header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #293364;
}
.header .navbar-toggle{
	border-color: red;
	position: absolute;
	left:48%;
	right: 0px;
	margin:auto;
	padding:9px 7px;
}
.header .navbar-default .navbar-nav>li>a{
	text-transform: uppercase;
	color:white;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Raleway-Regular';
}
.header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#F2D0B8;
}
.header .navbar-nav>li>a{
	line-height: 15px;
}
.header .navbar-left {
	position: absolute;
	right: 0px;
	top:-20px;
	}
.header .form-group{
	position: relative;
	width: 10%;
	background-color: #293364;
	}
.header .navbar-nav a:before {
	color:#ff8dae;
	content: attr(data-h);
	position: absolute;
	opacity: 0;
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(6deg);
	transition:all .3s linear;
}
.header .navbar-nav a:hover:before{
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}


@media (min-width: 992px) and (max-width: 1199px){
	.header .navbar-nav{
		position: relative;
		top:40px;
		right: 0px;
	}
	.header{
		padding: 1.5em 0 3em;
	}
}
@media (min-width: 768px){
 	.header .navbar-form .form-control .form-group{
		background-color: #293364;
	}
	.header .navbar-form .form-control{
		color:black;
	}
}
/*......搜索框按钮....*/
.header .btn{
	position: absolute;
	padding: 12px 10px;
	border:none;
	border-radius: 0px;
	background:url(../img/search.png) no-repeat center left #293364 ;
}
.header .form-control{
	border:none;

}
.header .navbar-default .navbar-form{
	padding:5px 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top:none;
    border-bottom: 1px solid white;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.header .navbar-default .form-control{
	-webkit-box-shadow: none;
	color:white;
	border-radius: 0px;
	background:#293364;
	text-indent:20%;
}
@media (max-width:767px){
	.header .navbar-default .navbar-collapse{
		border-color: rgba(239, 236, 236, 0.41);
	}
	.header .navbar-collapse{
		border:1px solid #303D80;
		text-align: center;
		background: #303D80;
		width: 90%;
		margin:16px auto 0px;
	}	
	.header .navbar-default .navbar-nav>li>a{
			font-size: 0.8em;
		}
	 .header .navbar-header .navbar-brand h1{
		font-size: 2.2em;
	    top:-10px;
	}
	.header .navbar-form .form-control{
		background-color: #293364;
		-webkit-box-shadow: none;
		color:white;
		text-indent: 20px;
	}	
	.header .navbar-form{
		margin-bottom: 10px;
	}
	.header .navbar-toggle{
		margin-left:0%;
		margin-top: 14px;
	}

	.header .form-group{
		position: relative;
		width: 100px;
		background-color: #293364;
	}
	.header .navbar-left {
		position: absolute;
		right: 0px;
		top:-5px;

		}
}
@media (max-width:479px){
	.header .navbar-header .navbar-brand h1{
		font-size: 1.5em;
	    top:-2px;
	}
}



