
.package1 h3{
       color: #FF8DAE;
    font-size: 1.6em;
    font-weight: bold;
}
h1.tittle.pack {
    color: #fff;
}
.container h1{
	text-align: center;
}
section aside,section{
	background-color: #5b66a0;
}
section .container h3 a,section aside .tittle{
	color: #fff;
}
section aside .tittle{
	padding-top: 20px;
}
section .packages{
	padding: 15px 0px;
}
section .container h3 a:hover{
	color:#ff8dae;
}
.view-fifth img {
       border-radius: 10%;
	-o-border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	-ms-border-radius: 10%;
}
/*.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
       border-radius: 10%;
	-o-border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	-ms-border-radius: 10%;
}*/

/*.info {
     display: inline-block;
    text-decoration: none;
    padding: 16px 18px;
    background: red;
    color: #fff;
    text-transform: uppercase;
    float: left;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
}*/
ul.s_social li a i{
	width:25px;
	height:25px;
	border-radius: 15%;
	display: block;
	background-image: url(../img/sprite.png);
}
ul.s_social li a i.fb1 {
	background-position: 0px -58px;
}
ul.s_social li a i.tw1 {
	background-position: -56px -58px;
}
ul.s_social li a i.linked1 {
	background-position: -116px -58px;
}
ul.s_social li a i.google1 {
	background-position: -172px -58px;
}
ul.s_social li a i:hover{
	opacity:0.6;
}
.ALL header ol{
	list-style: none;
}
.ALL header{
	text-align: center;
	background-color:#6f84ea;
}
.ALL header .tittle{
	margin-bottom: 0px;
	padding: 20px 0px;
}
.ALL header li{
	padding: 15px 0px;
}
.ALL header li:hover{
	animation:Height 500ms linear;
}
@keyframes Height{
	from {padding-top:15px;
		padding-bottom: 15px;
	}
	50%{
		padding-top: 0px;
		padding-bottom: 30px;
	}
	to {padding-top: 15px;
		padding-bottom: 15px;
	}
}
.ALL header a{
	display:block;
	width: 25%;
	min-width: 90px;
	height:25px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	border-radius: 22px;
	background-color: #B70039;
	text-decoration: none;
	font-size: 1rem;
	margin: 10px auto;
}
.ALL header a:hover{
	animation: Rotate 200ms 2;
}
@keyframes Rotate{
	from{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-10deg);
	}
	to{
		transform: rotate(0deg);
	}
}
.ALL header .tittle,.ALL header a{
	text-align: center;
	color: #fff;
}
.ALL .packages .col-md-6{
	text-align: left;
	background-color: #293364;
	color: #293364;
}
.newNav{
background-color: #ffce54;
}
