/*滑动轮播*/ 
#myCarousel .carousel-indicators li{
	border:none;
	border-radius: 0px;
	position: relative;
}
#myCarousel .carousel-control  img{
	width: 100%;
	position: absolute; 
	top:0;
	bottom:0;
	margin:auto;
}
.hover{
	display: none;
}
#myCarousel:hover .hover{
	display: inline-block;
}
#myCarousel p,#myCarousel h3{
	display: inline-block;
	width: 80%;
	color: #fff;
	position: absolute;
	z-index: 50;
	bottom:38%;
	left:10%;
	font-size:2.5em;
	font-family: '华文行楷';
}
#myCarousel h3{
	bottom:26%;
}
#xuanchuan .col-md-6{
	text-align: center;
	color: #ffffff;
	background-color: #FFCE54;
	position: relative;
}
#xuanchuan .col-md-6 .btns{
	
	position: absolute;
	bottom:40%;
	background-color: rgba(160,165,185,0.5);
	width:20%;
	height:15%;
	left:40%;
	border-radius: 1em;
	border:none;
}
#myCarousel .h3{
	font-size:3em;
}
/*针对屏幕分辨率字体进行缩放*/
@media(max-width:1370px){
	#myCarousel .h3{
		font-size: 4em;
	}
	#myCarousel p{
		font-size: 4em;
	}
}
@media (max-width:768px ){
	#myCarousel .h3{
		font-size: 2em;
	}
	#myCarousel p{
		font-size: 2em;
	}
}
@media (max-width:414px){
	#myCarousel .h3{
		font-size: 1em;
	}
	#myCarousel p{
		font-size: 1em;
	}
}